/_work/
/_old/
/_old_scripts/
/_test projects_/
/StructureHightlighterTest/
/Unimozer/
/_components/
/_old_icons/
/build/
/Unimozer.app/
/Unimozer2.app/
/_not used/
/Certificate/
/icon/
/src-new-japa/
/windows_wraper/
/webstart/
/packages/
/source/
/test/
/patch/
/unimozer.xml
/Unimozer.app.zip
/makeSourcePackage
/unimozer_src.tar.gz
/screenshot.png
/sign_LENOFISH_Abr-29-120603-2017_Conflict
/unimozer-feature-requests.txt
/unimozer_latest_mac.zip
/unimozer_latest.zip
/sign_LENOFISH_Abr-30-131413-2017_Conflict
/nbproject/private/
/dist/
/bin/
